.menubar {
    background: #307AD5;
    padding: 15px 0px;
}
.icon-menu {
    font-size: 16px;
    display: inline-block;
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}
.bars {
    position: fixed;
    width: 250px;
    left: -250px;
    top: 0;
    transition: left 0.4s ease;
    background: #47a3da;
    height: 100%;
    z-index: 99;
}
.bars.open {
    left: 0;
}
.bars ul{
	list-style: none;
    color: #fff;
    padding: 15px;
}
.bars ul li a{
	color: #fff;
}