@font-face{
    font-family: 'day28latter' ;
    src: url("../fonts/font-zandz/28DaysLater.ttf");
    font-weight: 600;
}


@font-face{
    font-family: 'akaChen' ;
    src: url("../fonts/font-zandz/akaChen.ttf");
}


@font-face{
    font-family: 'avenir' ;
    src: url("../fonts/font-zandz/AvenirNextLTPro-Regular.otf");
}
@font-face{
    font-family: 'avenir';
    src: url("../fonts/font-zandz/AvenirNextLTPro-MediumCn.otf");
    font-weight: bold;
}


@font-face{
    font-family: 'calibri';
    src: url("../fonts/font-zandz/calibri.ttf");
}
@font-face{
    font-family: 'calibri';
    src: url("../fonts/font-zandz/calibrib_0.ttf");
    font-weight: bold;
}


@font-face{
    font-family: 'framd';
    src: url("../fonts/font-zandz/framd.ttf") format("truetype");
}

:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #666666;
}

*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html, body{
    font-family: 'calibri', sans-serif;
}

.main_button{
    background: url(../images/button.png) no-repeat;
    cursor:pointer;
    border: none;
    padding: 15px 60px;
    color: white;
    font-family: 'day28latter';
    font-size: 2em;
    width: 270px;
    margin: 0 auto;
    background-size: 100%;
}
.main_button:focus{
    outline: none;
}
.row{ 
    padding: 0 !important;
    margin: 0 !important;
}
/* HEADER */

.header_contract{
    position: relative;
    margin-right: 0;
    transition: 0.6s;
}
.header_contract-left-list{
    display: flex;
    font-size: 1em;
    list-style-type: none;
    font-weight: 500;
    margin-bottom:0;
    transition: all 0.5s;
}
.header_contract-left-list li{
    padding: 0 10px;
    color: var(--text-color);
}
.header_contract-left-list li:first-child{
    padding-left: 50px;
}
.header_contract-left-list li i{
    padding: 10px;
}
.header_contract-right-list{
    display: flex;
    font-size: 1em;
    list-style-type: none;
    font-weight: 500;
    text-transform: uppercase;
    float: right;
    margin-bottom:0;
    transition: all 0.5s;
}
.header_contract-right-list:last-child{
    padding-right: 30px;
}
.header_contract-right-list li{
    padding: 0 10px;
    color: var(--text-color);
}
.header_contract-right-list li i{
    padding: 10px;
}


.header-menu{
    position: relative;
    font-family: 'day28latter';
    font-size: 1.8vw;
    margin: 3vw 0 .8vw 0;
    transition: all 0.3s;
}
.menu_home{
    color: #ff0000 !important;
}
.navbar{
    padding: 0 1em !important;
}
.navbar-toggler{
    border: none !important;
}
.navbar-toggler-none{
    display: none !important;
}
.navbar-toggler:focus{
    outline: none;
}
.dropdown-menu{
    padding: 0 !important;
    border: none !important;
    border-radius: none !important;
    background-color: #cbebff !important;
    left: 15px !important;
}
.dropdown-item{
    font-size: 1.3em !important;
    padding: 0 1rem !important;
}
.dropdown-item:focus, .dropdown-item:hover{
    color: #ff0000 !important;
    text-decoration: none !important;
    background-color: #cbebff !important;
}
.header-menu--list{
    justify-content: space-between !important;
    position: relative;
    transform: 0.6s;
}
.dropdown-toggle::after{
    display: none;
}
.nav-link{
    padding: 0 1.4vw !important;
}
.header-menu--logo{
   text-align: center;
}
#logo_header{
    width: 200px;
}
.collapse.show{
    display: block;
    margin-left: 2vw !important;
    /* transition: 0.6s !important; */
}
.dropdown-menu{
    transition: all 0.6s !important;
}
.navbar-nav-right{
    border-radius: 0 0 5px 5px;
}
.navbar-nav-left{
    border-radius: 5px 5px 0 0;
}


.sticky{
    background-color: #f7ece6;
}
.sticky .header_contract{
    display: none;
}
.sticky .header-menu{
    margin-top: 1vw;
}
.sticky .header-menu--logo{
    position: absolute;
    top: 0;
    left: 42%;
    text-align: center;
}
.sticky #logo_header{
    width: 17vw;
}
        /* END HEADER */




        /* CONTENT 1 */
.content1{
    background-image: url(../images/bg_homepage.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 5vw;
}
.content1_nd{
    padding: 23vw 0 12vw 9vw;
    font-family: 'day28latter';
}
.content1_text h2{
    font-size: 3.8em;
    color: yellow;
    margin-bottom: 0;
}
.content1_text p{
    font-size: 3em;
    color: #c3fdfd;
}

/* .content1_threek{
    display: flex;
    width: 100%;
} */
.content1_threek-k{
    text-align: center;
    padding: 0 !important;
}
.content1_threek-k img{
    width: 80%;
}
.content1_threek-k:last-child{
    text-align: left;
    padding-top: 10px;
}
.content1_threek-k:first-child{
    text-align: right;
    padding-top: 10px;
}
.content1_threek-k:last-child img{
    padding-top: 4vw;
}
.content1_threek-k:first-child img{
    padding-top: 4vw;
}
.content1_threek-k-img{
    position: relative;
}
.content1_threek-k-text{
    font-family: day28latter;
    font-size: 1.7em;
    position: absolute;
    top: 40%;
    left: 50%;
    color: var(--white-color);
}
.content1_threek-k:first-child .content1_threek-k-text, .content1_threek-k:last-child .content1_threek-k-text{
    top: 45%;
    left: 50%;
}
.content1_threek-k:first-child .content1_threek-k-text{
    left: 56%;
}

        /* END CONTENT 1 */

        /* CONTENT 2 */
.content2{
    margin-bottom: 5vw;
}
.content2_title h2{
    font-size: 3em;
    font-family: 'day28latter';
    position: relative;
    width: 310px;
    margin: 0 auto;
    text-align: center;
}
.content2_title h2:before{
    content: "";
    width: 150px;
    position: absolute;
    background-color: red;
    height: 3px;
    bottom: 0;
    left: 80px;
}
.content2_slide{
    width: 80%;
    margin: 0 auto;
    margin-top: 3vw;
}
.content2_slide-div{
    text-align: center;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0 30px;
}
.content2_slide-div:focus{
    outline: none;
}
.content2_slide--img img{
    margin: 0 auto;
    margin-bottom: 20px;
}
.content2_slide--name{
    font-family: 'akaChen' ;
    font-size: 20px;
}
.content2_slide--price{
    color: #ff6600;
    font-size: 18px;
    font-weight: bold;
}
.content2_slide--name, .content2_slide--price{
    line-height: initial;
}
.slick-next, .slick-prev{
    background-color: red !important;
}
        /* END CONTENT 2 */

        /* CONTENT 3 */
.content3{
    background-image: url(../images/bg_st3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 5vw;
}
.content3_nd{
    width: 50%;
}
.content3_text{
    font-family: 'day28latter';
    font-size: 4em;
    text-align: center;
    line-height: initial;
    padding-top: 23vw;
}
.button_st3{
    padding-bottom: 10vw;
}
        /* END CONTENT 3 */

        /* CONTENT 4 */
.content4{
    margin-bottom: 5vw;
}
.content4_title h2{
    font-size: 3em;
    font-family: 'day28latter';
    position: relative;
    width: 346px;
    margin: 0 auto;
    text-align: center;
}
.content4_title h2:before{
    content: "";
    width: 150px;
    position: absolute;
    background-color: red;
    height: 3px;
    bottom: 0;
    left: 80px;
}
.content4_slide{
    width: 80%;
    margin: 0 auto;
    margin-top: 3vw;
}
.content4_slide-div{
    text-align: center;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0 30px;
}
.content4_slide-div:focus{
    outline: none;
}
.content4_slide--img img{
    margin: 0 auto;
    margin-bottom: 20px;
}
.content4_slide--name{
    font-family: 'akaChen' ;
    font-size: 20px;
}
.content4_slide--price{
    color: #ff6600;
    font-size: 18px;
    font-weight: bold;
}
.content4_slide--name, .content4_slide--price{
    line-height: initial;
}
.slick-next, .slick-prev{
    background-color: red !important;
}
        /* END CONTENT 4 */

        /* CONTENT 5 */

.content5{
    width: 100%;
    position: relative;
    margin-bottom: 3vw;
}
.content5_left{
    width: 59.86%;
    position: absolute;
    top: 0;
    left: 0;
}
.content5_left-img img{
    width: 100%;
}
.content5_right{
    width: 55%;
    position: absolute;
    top: 0;
    right: 0;
}
.content5_right-img img{
    width: 100%;
}
.content5_left-nd--text, .content5_right-nd--text{
    font-family: 'day28latter';
    font-size: 4em;
    color: var(--white-color);
    width: 320px;
}
.content5_left-nd, .content5_right-nd{
    position: absolute;
    top: 25%;
    text-align: center;
}
.content5_left-nd--text, .content5_right-nd--text{
    margin-bottom: 2vw;
    line-height: initial;
}
.content5_left-nd{
    left: 20%; 
}
.content5_right-nd{
    left: 30%;  
}
        /* END CONTENT 5 */

        /* CONTENT 6 */

.content6{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.content6_title{
    font-family: day28latter;
    
}
.content6_title h2{
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2vw;
    font-size: 3em;
}
.content6_title h2:before{
    content: "";
    width: 150px;
    position: absolute;
    background-color: red;
    height: 4px;
    bottom: 0;
    left: 40%;
}
.content6_desc{
    color: var(--text-color);
}

        /* END CONTENT 6 */



        /* FOOTER */
    /* Footer top */
.footer{
    width: 100%;
    margin-top: 5vw;
}
.footer_contact{
    width: 100%;
}
.footer_contact-top{
    width: 100%;
    background-image: url(../images/bg_footer_contract-top.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
}
.footer_contact-top-div{
    width: 25%;
    text-align: center;
    margin: 8vw 3vw;
}
.footer_contact-top-div--desc{
    font-family: 'calibri';
    font-weight: bold;
    font-size: 1.3em;
    line-height: initial;
}

.footer_contact-top-div--button{
    margin-bottom: 2vw;
}


.footer_contact-bottom{
    background-image: url(../images/bg_footer_contact-bottom.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    position: relative;
    flex-direction: row-reverse;
}
.footer_contact-bottom--img{
    position: absolute;
    width: 250px;
    left: 10%;
    top: -30%;
}
.footer_contact-bottom--img img{
    width: 100%;
}
.footer_contact-bottom--form{
    width: 65%;
    display: flex; 
}
.footer_contact-bottom--form-img{
    width: 10%;
    margin: 7vw 2vw;
}
.footer_contact-bottom--form-img img{
    width: 100%;
}
.footer_contact-bottom--search{
    margin: 5vw 0;
}
.footer_contact-bottom--search h2{
    font-family: 'day28latter';
    color: #e7ea10;
    font-size: 2.5em;
}
.footer_contact-bottom--search input{
    border: 2px solid #e7ea10;
    background:rgba(192,192,192,0.5);
    border-radius: 30px;
    padding: 5px 20px;
    width: 70%;
    color: white;
}
.footer_contact-bottom--search input::placeholder{
    color: var(--white-color);
}
.footer_contact-bottom--search input:focus{
    outline: none;
}
.footer_contact-bottom--search .signmeup{
    font-family: 'day28latter';
    background-color: #47ff00;
    border-radius: 30px;
    border: none;
    padding: 7px 20px;
}
.signmeup:focus{
    outline: none;
    cursor: pointer;
}
    /* End footer top */
.footer_end{
    background-image: url(../images/bg_footer_bottom.png);
    background-repeat: no-repeat;
    margin-top: 2vw;
    width: 100%;
}
.footer_end-img{
    text-align: center;
}
.footer_end-contact{
    display: flex;
    justify-content: center;
    width: 100%;
}
.footer_contact-div{
    width: 15%;
    text-align: left;
    margin: 2vw 5vw 0;
}
.footer_contact-div--title{ 
    font-family: 'day28latter';
    font-size: 2em;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: .8vw;
}
.footer_contact-div--list{
    margin-top: 1em;
}
.footer_contact-div--list a:hover{
    text-decoration: none;
}
.footer_contact-div--list a li{
    list-style-type: none;
    font-family: framd;
    font-size: 1em;
    color: #666666;
}
.footer_contact-div--list1{
    font-weight: bold;
}
.footer_contact-div--list3{
    display: flex;
}
.footer_contact-div--list3 i{
    font-size: 1.5em;
    padding: 10px 10px;
    background-color: red;
    border-radius: 30px;
    color: white;
    margin-right: 5px;
}
.footer_end-bottom{
    text-align: center;
    margin-top: 2vw;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 500;
    color: white;
    padding: 10px;
    background-color: #ff3300;
}

    /* Footer bottom */



    /* End footer bottom */
        /* END FOOTER */





        /* RESPONSIVE */

@media only screen and (max-width: 1200px) {
    .content1_text h2{
        font-size: 2.8em;
    }
    .content1_text p {
        font-size: 2em;
    }
    .content1_threek-k-text{
        font-size: 1.3em;
    }
    .content3_text{
        font-size: 3.2em;
        padding-top: 18vw;
    }
    .button_st3{
        padding-bottom: 10vw;
    }
    .content5_left-nd--text, .content5_right-nd--text{
        font-family: 'day28latter';
        font-size: 3em;
        color: var(--white-color);
        width: 300px;
    }
    .content5_right-nd--button, .content5_left-nd--button{
        padding: 10px 30px;
        font-size: 1.7em;
        width: 200px;
    }
    .footer_contact-top-div{
        width: 25%;
        margin: 6vw 3vw;
    }
    .footer_contact-top-div--button{
        padding: 10px 30px;
        font-size: 1.7em;
        width: 200px;
    }
    .footer_contact-bottom--img{
        top: -20%;
    }
}
@media only screen and (max-width: 992px) {
    .header_contract-left-list, .header_contract-right-list{
        font-size: .6em;
    }
    .main_button{
        padding: 11px 39px;
        font-size: 1.2em;
        width: 170px;
    }
    .navbar-nav-right, .navbar-nav-left{
        width: 36% !important;
        background-color: #f7ece6;
        box-shadow: 3px 5px 8px #f6dcce;
    }
    .sticky .navbar-nav-right, .sticky .navbar-nav-left{
        width: 36% !important;
        background-color: #f7ece6;
        box-shadow: none;
    }
    .dropdown-item{
        font-size: .8em !important;
        padding: 2px 1rem !important;
    }
    .content1_threek-k-text{
        font-size: 1.1em;
    }
    .content2_slide--name{
        font-size: 18px;
    }
    .content2_slide--price{
        font-size: 15px;
    }
    .content3_text{
        font-size: 2.7em;
        padding-top: 15vw;
    }
    .button_st3{
        padding-bottom: 10vw;
    }
    .content4_slide--name{
        font-size: 18px;
    }
    .content4_slide--price{
        font-size: 15px;
    }
    .content5_left-nd--text, .content5_right-nd--text{
        font-size: 2.3em;
        width: 260px;
    }
    .content5_right-nd--button, .content5_left-nd--button{
        font-size: 1.4em;
        width: 165px;
        padding: 9px 25px;
    }
    .content5_left-nd, .content5_right-nd{
        top: 25%;
    }
    .content5_left-nd{
        left: 10%; 
    }
    .content5_right-nd{
        right: 20%;  
    }
    .footer_contact-top-div{
        width: 25%;
        margin: 4vw 3vw;
    }
    .footer_contact-bottom--form{
        width: 70%;
    }
    .footer_contact-bottom--search h2{
        font-size: 2em;
    }
    .footer_contact-bottom--search input{
        padding: 4px 15px;
        width: 65%;
    }
    .footer_contact-bottom--img{
        top: -20%;
        width: 20%;
    }
    .footer_contact-div--title{
        font-size: 1.5em;
    }
    .footer_end-img img{
        width: 40%;
    }
    .sticky .header-menu--logo{
        top: 0;
        left: 37%;
    }
    .sticky #logo_header{
        width: 26vw;
    }
}
@media only screen and (max-width: 768px) {
    .header_contract-right-list li i, .header_contract-left-list li i{
        padding: 5px;
    }
    .header-menu--logo{
        top: 2em;
    }
    .header{
        position: absolute;
    }
    .nav-item{
        width: 200px;
    }
    .content1_text h2{
        font-size: 2.3em;
    }
    .content1_text p {
        font-size: 1.7em;
    }
    .content1_text p{
        margin-bottom: 1vw !important;
    }
    
    
    .content2_slide--name{
        font-size: 14px;
    }
    .content2_slide--price{
        font-size: 13px;
    }
    .content3_text{
        font-size: 2em;
        padding-top: 15vw;
    }
    .button_st3{
        padding-bottom: 10vw;
    }
    .content4_slide--name{
        font-size: 14px;
    }
    .content4_slide--price{
        font-size: 13px;
    }
    .content5_left-nd--text, .content5_right-nd--text{
        font-size: 1.7em;
        width: 160px;
    }
    .content5_right-nd--button, .content5_left-nd--button{
        font-size: 1.4em;
        width: 165px;
        padding: 9px 25px;
    }
    .content5_left-nd, .content5_right-nd{
        top: 25%;
    }
    .content5_left-nd{
        left: 10%; 
    }
    .content5_right-nd{
        right: 20%;  
    }
    .content6{
        width: 80%;
    }
    .content6_title h2{
        font-size: 2em;
    }
    .content6_title h2:before{
        width: 150px;
        height: 3px;
        left: 30%;
    }
    .footer_contact-top-div--desc{
        font-size: 1em;
    }
    .footer_contact-top-div--button{
        font-size: 1.4em;
        width: 165px;
        padding: 9px 25px;
    }
    .footer_contact-bottom--search{
        margin: 2.1vw 0;
    }
    .footer_contact-bottom--search h2{
        font-size: 1.5em;
    }
    .footer_contact-div--title{
        font-size: 1.2em;
    }
    .footer_contact-div--list a li{
        font-size: .8em;
    }
    .footer_end-bottom{
        font-size: .6em;
    }
    .nav-link{
        font-size: 1.2em;
    }
    
}@media only screen and (max-width: 767px) {
    .content1_threek-k-img img{
        width: 60%;
    }
    .content1_threek-k-img{
        text-align: center;
    }
    .content1_threek-k-text{
        text-align: center;
    }
    .content1_threek-k-text{
        font-size: 1.9em;
        top: 40% !important;
        left: 48% !important;
    }
}
@media only screen and (max-width: 600px) {
    .navbar-toggler{
        padding: .1rem .5rem !important;
        font-size: .6rem !important;
    }
    .content1_text h2{
        font-size: 1.7em;
    }
    .content1_text p {
        font-size: 1.4em;
    }
    .main_button{
        padding: 7px 15px;
        font-size: .9em;
        width: 115px;
    }
    .content1_threek-k-text{
        font-size: 1.5em;
    }
    .content2_slide--name{
        font-size: 11px;
    }
    .content2_slide--price{
        font-size: 11px;
    }
    .content3_text{
        font-size: 1.7em;
        padding-top: 15vw;
    }
    .button_st3{
        padding-bottom: 10vw;
    }
    .content4_slide--name{
        font-size: 11px;
    }
    .content4_slide--price{
        font-size: 11px;
    }
    .content5_left-nd--text, .content5_right-nd--text{
        margin-bottom: 1vw;
    }
    .footer_contact-top-div--desc{
        font-size: .7em;
    }
    .footer_contact-bottom--search h2{
        font-size: 1.2em;
    }
    .footer_contact-bottom--search input{
        padding: 2px 13px;
        width: 60%;
    }
    .footer_contact-bottom--search .signmeup{
        padding: 4px 10px;
    }
    .footer_contact-div--title{
        font-size: .9em;
    }
    .footer_contact-div--list a li{
        font-size: .7em;
    }
    .fa-facebook{
        width: 30px !important;
    }
    .footer_contact-div--list3 i{
        font-size: 1em;
        padding: 10px 10px;
    }
    .dropdown-item{
        font-size: .6em !important;
        padding: 2px 1em !important;
    }
    .dropdown-menu {
        width: 20%;
    }
}
@media only screen and (max-width: 480px) {
    .content1_text h2{
        font-size: 1.3em;
    }
    .content1_text p {
        font-size: 1em;
    }
    .content1_threek-k-text{
        font-size: 1.3em;
    }
    .content2_slide--img img{
        width: 40%;
    }
    .content2_slide--name{
        font-size: 14px;
    }
    .content2_slide--price{
        font-size: 12px;
    }
    .content3_text{
        font-size: 1.6em;
        padding-top: 14vw;
    }
    .button_st3{
        padding-bottom: 9vw;
    }
    .content4_slide--img img{
        width: 40%;
    }
    .content4_slide--name{
        font-size: 14px;
    }
    .content4_slide--price{
        font-size: 12px;
    }
    .content5_left-nd--text, .content5_right-nd--text{
        font-size: 1.3em;
        width: 120px;
    }
    .content6{
        width: 80%; 
    }
    .content6_title h2{
        font-size: 2em;
    }
    .content6_title h2:before{
        width: 150px;
        height: 3px;
        left: 30%;
    }
    .content6_desc{
        font-size: .7em;
    }
    .footer_contact-top-div--desc{
        font-size: .6em;
    }
    .footer_contact-bottom--search h2{
        margin: 0;
    }
    .footer_contact-bottom--search input{
        padding: 0px 13px;
        width: 55%;
        font-size: .8em;
    }
    .footer_contact-bottom--search .signmeup{
        padding: 2px 10px;
        font-size: .8em;
    }
    .footer_contact-div{
        width: 16%;
    }
    .dropdown-menu{
        min-width: 9rem !important;
    }
    .header_contract-left-list li:first-child{
        padding-left: 0;
    }
    .header_contract-right-list:last-child{
        padding-right: 0;
    }
}
@media only screen and (max-width: 425px) {
    .main_button{
        padding: 5px 15px;
        font-size: 0.6em;
        width: 75px;
    }
    .content1_threek-k-text{
        font-size: 1.1em;
    }
    .content2_title h2{
        font-size: 2.5em;
    }
    .content3_text{
        font-size: 1.4em;
        padding-top: 16vw;
    }
    .button_st3{
        padding-bottom: 9vw;
    }
    .content4_title h2{
        font-size: 2.5em;
    }
    .content6_title h2{
        font-size: 1.7em;
    }
    .content6_title h2:before{
        width: 120px;
        height: 3px;
        left: 30%;
    }
    .content6_desc{
        font-size: .6em;
    }
    .footer_contact-bottom--form-img{
        margin: 6vw 2vw;
    }
    .footer_contact-bottom--search h2{
        font-size: .9em;
    }
    .footer_contact-bottom--search input{
        padding: 1px 13px;
        font-size: .6em;
        border: 1px solid #e7ea10;
    }
    .footer_contact-bottom--search .signmeup{
        padding: 2px 10px;
        font-size: 0.7em;
    }
    .footer_contact-div{
        width: 18%;
    }
    .footer_end-bottom{
        font-size: .5em;
    }
    .nav-link{
        font-size: 1.6em;
    }
    .dropdown-menu{
        min-width: 7rem !important;
    }
}
@media only screen and (max-width: 375px) {
    .content1_text h2{
        font-size: 1em;
    }
    .content1_text p {
        font-size: .7em;
    }
    .content1_threek-k-text{
        font-size: .9em;
    }
    .content2_title h2{
        font-size: 2em;
    }
    .content3_text{
        font-size: 1.1em;
        padding-top: 16vw;
    }
    .button_st3{
        padding-bottom: 9vw;
    }
    .content4_title h2{
        font-size: 2em;
    }
    .content5_left-nd--text, .content5_right-nd--text{
        font-size: 1em;
        width: 100px;
    }
    .footer_contact-top-div{
        margin: 7vw 3vw 4vw;
    }
    .footer_contact-top-div--desc{
        font-size: .5em;
    }
    .footer_contact-div{
        width: 20%;
    }
    .footer_contact-div--title{
        font-size: .8em;
    }
    .footer_contact-div--list3 i{
        font-size: 1em;
        padding: 6px 6px;
    }
    .fa-facebook{
        width: 23px !important;
    }
}
@media only screen and (max-width: 320px) {
    .content1_text h2{
        font-size: .9em;
    }
    .content1_text p {
        font-size: .6em;
    }
    .main_button{
        padding: 4px 8px;
        font-size: 0.4em;
        width: 50px;
    }
    .content1_threek-k-text{
        font-size: .8em;
    }
    .content2_slide--name{
        font-size: 10px;
    }
    .content2_slide--price{
        font-size: 8px;
    }
    .content3_text{
        font-size: .8em;
        padding-top: 20vw;
    }
    .button_st3{
        padding-bottom: 10vw;
    }

    .content4_slide--name{
        font-size: 10px;
    }
    .content4_slide--price{
        font-size: 8px;
    }
    
    .content6{
        width: 90%;
    }
    .footer_contact-top-div{
        margin: 8vw 3vw 4vw;
    }
    .footer_contact-top-div--button{
        padding: 3px 8px;
        font-size: 0.4em;
        width: 50px;
    }
}